/* CSS Document */
@font-face{
font-family: 'CustomFont';}
{src: url('file:///C:/Users/jakov/Documents/DM1/MagdaJerkovic.ttf') format('truetype');
}
p{font-family: "Lucida Censole", "Courier New", "monospace";}
p{font-size:20px;}
p{width:1000px;}
p{color:white;}

h1{font-size:45px;}
h1{width:700px;}
h1{color:white;}

h2{font-size:40px;}
h2{width:700px;}
h2{color:white;}
h2{text-decoration: underline;}

h3{font-size:30px;}
h3{width:700px;}
h3{color:white;}

img{height:230px;}

ol{font-family: "Lucida Censole", "Courier New", "monospace"}
	ol{font-size:20px;}
	ol{width:1000px;}
	ol{color:white;}
	
ul{font-family: "Lucida Censole", "Courier New", "monospace"}
	ul{font-size:20px;}
	ul{width:1000px;}
	ul{color:white;}
	
body {
    background-image: url('C:\Users\jakov\Documents\DM1\background1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
body{
	font-family: "Lucida Censole", "Courier New", "monospace";
	font-size:20px;
	background-color: grey;
	}